*{
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar{
    margin-bottom: 15px;
}
body{
    font-size: 16px;
    background-color: #cccccc;
}
.contt{
    height: 1500px;
}
.col-xs-12 {
    width: 97%;
    /* float: left; */
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}
#header-nav{
    background-color: maroon;
    border-radius: 0;
    border: 0;
}
.navbar-brand{
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}